<div id="commentList">{{ error }}</div>
<p id="formWiew">{{ form_start(form) }}
{{ form_widget(form) }}
    <br/><br/>
    <img id="preview" src="{{ asset('upload/users/no_image_jpg.jpeg') }}" width="350px" height="320px"/><br/>
    <input type="file" id="image" style="display: none;"/>
    <!--<input type="hidden" style="display: none" value="0" name="remove" id="remove">-->
    <a id="changeImg" href="#changeImg1">Change</a> |
    <a style="color: red" href="javascript:removeImage()">Remove</a>

{{ form_end(form) }}

</p>
